# Telegram bot
aiogram==3.10.0

# Database
sqlalchemy==2.0.23
asyncpg==0.29.0
psycopg2-binary==2.9.9
alembic==1.12.1

# Async http
aiohttp==3.9.1

# Cache / Redis
redis==5.0.1

# Environment variables
python-dotenv==1.0.0
